* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgb(20, 20, 20);
}

#modal-wrapper {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(6, 6, 6, 0.5);
}

.modal {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3%;
    overflow-y: auto;
}

#close-modal {
    position: absolute;
    top: 3%;
    right: 3%;
    color: brown;
    cursor: pointer;
    font-size: 22px;
    transition: 0.1s;
}

#close-modal:hover {
    transform: scale(1.4);
}

.picture-desc {
    font-size: 16px;
    margin-bottom: 0.5rem;
    color: darkgrey;
    display: block;
    max-width: 95%;
}

.credits span {
    font-size: 16px;
    margin-top: 0.8rem;
    color: darkgrey;
    display: block;
    max-width: 95%;
}

.modal p {
    font-size: 18px;
    margin-top: 8px;
}

.modal h1 {
    font-size: 32px;
}

.overview {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.overview img {
    width: 50%;
    text-align: center;
}

.overview div {
    width: 50%;
}

#movie-btn {
    width: 7rem;
    position: fixed;
    top: 0.8rem;
    left: 0.8rem;
    z-index: 3;
    cursor: pointer;
}

#megaphone-btn {
    width: 7rem;
    position: fixed;
    top: 10rem;
    left: 0.8rem;
    z-index: 3;
    cursor: pointer;
    display: none;
}

video {
    width: 80vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.opacity {
    opacity: 0.7;
}

#curtain-left {
    position: fixed;
    left: 0;
    z-index: 2;
    width: 10vw;
    height: 100vh;
    background-color: brown;
    border-right: 9.6px solid transparent;
    border-image: linear-gradient(0deg, rgba(49, 48, 0, 1) 0%, rgba(108, 105, 0, 1) 10%, rgba(125, 121, 0, 1) 15%, rgba(143, 138, 0, 1) 25%, rgba(209, 202, 0, 1) 35%, rgba(255, 246, 0, 1) 50%, rgba(209, 202, 0, 1) 65%, rgba(143, 138, 0, 1) 75%, rgba(125, 121, 0, 1) 85%, rgba(108, 105, 0, 1) 90%, rgba(49, 48, 0, 1) 100%);
    border-image-slice: 1;
}

#curtain-right {
    position: fixed;
    right: 0;
    z-index: 2;
    width: 10vw;
    height: 100vh;
    background-color: brown;
    border-left: 9.6px solid transparent;
    border-image: linear-gradient(0deg, rgba(49, 48, 0, 1) 0%, rgba(108, 105, 0, 1) 10%, rgba(125, 121, 0, 1) 15%, rgba(143, 138, 0, 1) 25%, rgba(209, 202, 0, 1) 35%, rgba(255, 246, 0, 1) 50%, rgba(209, 202, 0, 1) 65%, rgba(143, 138, 0, 1) 75%, rgba(125, 121, 0, 1) 85%, rgba(108, 105, 0, 1) 90%, rgba(49, 48, 0, 1) 100%);
    border-image-slice: 1;
}

.film-roll {
    animation-name: swinging-film-roll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    width: 96%;
    margin-left: 1.5%;
    z-index: 1;
}

.outline-1 {
    width: 100%;
    padding: 10px;
    background-color: black;
}

.outline-2 {
    width: 100%;
    display: flex;
    height: 20rem;
    background-color: black;
    border-color: white;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.placeholder-part {
    width: 50%;
    height: 100%;
    padding: 0.625rem 0;
    margin: 0 0.5rem;
}

.part {
    width: 100%;
    height: 100%;
    padding: 0.625rem 0;
    margin: 0 0.5rem;
}

.placeholder-item {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.item {
    width: 100%;
    height: 100%;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}